<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773204999483-9ch15kiruu4dj8qn79q8rij42mgl520r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773204999483-9ch15kiruu4dj8qn79q8rij42mgl520r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>773204999483-2re3lif340c517effo652dq3p3h92p4i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Lr_O1HH1ZSsiDa0OZ2mp5bwtEI-drLs</string>
	<key>GCM_SENDER_ID</key>
	<string>773204999483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jibru.macroalarm.ios.app</string>
	<key>PROJECT_ID</key>
	<string>kmp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>kmp-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773204999483:ios:c0a50424470129e3fc8b1e</string>
</dict>
</plist>